* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
    background: black;
    color: white;
    background: rgb(52,44,177);
    background: linear-gradient(90deg, rgba(52,44,177,1) 0%, rgba(0,212,255,1) 97%);
}

ul {
    list-style-type: none;
    padding: 50px;
    font-size: 20px;
}

li {
    padding: 3px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}